{% extends "base.html" %}
{% block title%} Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action = "#" method = "post">
    <p style="margin-left: 40px">   Name:  <input type = "text" name = "nm" /></p>
    <p style="margin-left: 40px">   \(\alpha \):  <input type=  "number" step="0.01" name = "alpha" /></p>
    <p style="margin-left: 40px">   \(\beta \):   <input type = "number" step="0.01" name = "beta" /></p>
    <p style="margin-left: 40px">   \(N\):   <input type = "number" step="1" name = "N" /></p>
    <p style="margin-left: 40px">   \(N_{old}^{meet} \):   <input type = "number" step="1" name = "Noldmeet" /></p>
    <p style="margin-left: 40px">   \(N_{new}^{meet} \):   <input type = "number" step="1" name = "Nnewmeet" /></p>
    <p style="margin-left: 40px">   \(N_{fr} \):   <input type = "number" step="1" name = "Nfriendpool" /></p>
    <p style="margin-left: 40px">   \(N_{symp} \):   <input type = "number" step="1" name = "Nsym" /></p>
    <p style="margin-left: 40px">   \(user_1 \):   <input type = "number" step="1" name = "eg" /></p>
    <p style="margin-left: 40px">   \(user_2 \):   <input type = "number" step="1" name = "eg2" /></p>
    <p style="margin-left: 40px">   <input type = "submit" value = "submit"/></p>
</form>
{% endblock %}